RewriteEngine On

# Ensure the request is for geekbuds.tech (without www)
RewriteCond %{HTTP_HOST} ^geekbuds\.tech$ [NC]
RewriteRule ^(.*)$ http://www.geekbuds.tech/$1 [L,R=301]

# Custom 404 error page
ErrorDocument 404 /404.html
