  div{
    font-family: inherit;
  }
  

  
  div.sb-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
    padding: 1px 16px;
  }

  div h1{
    font-family: inherit;
    font-size: 42px;
    font-weight: 600;
  }
  div h2, h3{
    font-family: inherit;
    font-size: 32px;
    font-weight: 600;
  }

  .blog-feat-img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
  }

  .blog-details{
    margin: 25px 0px 25px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .blog-details span{
    margin-left: 10px;
  }
  
  @media screen and (max-width: 768px) {

    div.sb-container {
      margin: 100px 50px 50px 50px;
    }
div h1{
  font-family: inherit;
  font-size: 28px;
  font-weight: 600;
}
div h2, h3{
  font-family: inherit;
  font-size: 22px;
  font-weight: 600;
}

  }

  @media screen and (max-width: 425px) {

    div.sb-container {
      margin: 75px 25px 25px 25px;
    }
div h1{
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
}
div h2, h3{
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
}

div p, ul, li{
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}

  }

  
  /* blog-header/Blog Title */

  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  
  /* Fake image */
  .blog-fake-img {
    background-color: #aaa;
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: 15px;
  }
  
  /* Add a card effect for articles */
  .blog-card {
    padding: 1rem;
    margin-top: 1rem;
  }
  
  /* Clear floats after the columns */
  .blog-container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

  
.faq-section{
  margin-top: 50px;
}